trigger:
- master

pool:
  vmImage: 'ubuntu-16.04'

variables:
  GOPATH: '$(Agent.BuildDirectory)/gopath' # Go workspace path
  GOROOT: '$(Agent.BuildDirectory)/go' # Go installation path
  GOBIN:  '$(GOPATH)/bin' # Go binaries path
  modulePath: '$(GOPATH)/src/github.com/$(build.repository.name)' # Path to the module's code

steps:
- script: |
    wget "https://dl.google.com/go/go1.12.7.linux-amd64.tar.gz" --output-document "$(Agent.BuildDirectory)/go1.12.7.tar.gz"
    tar -C '$(Agent.BuildDirectory)' -xzf "$(Agent.BuildDirectory)/go1.12.7.tar.gz"
  displayName: 'Install Go 1.12.7'

- script: |
    mkdir -p '$(GOBIN)'
    mkdir -p '$(GOPATH)/pkg'
    mkdir -p '$(modulePath)'
    mkdir -p '$(GOROOT)'
    shopt -s extglob
    shopt -s dotglob
    mv !(gopath) '$(modulePath)'
    echo '##vso[task.prependpath]$(GOBIN)'
    echo '##vso[task.prependpath]$(GOROOT)/bin'
  displayName: 'Set up the Go workspace'

- script: |
    cd $(modulePath)
    go get -u github.com/gobuffalo/packr/v2/packr2
    export GO111MODULE=on
    go get
    go build
    packr2 clean
    packr2 build
    mkdir -p payloads
  displayName: Build MOSE
  workingDirectory: "$(modulePath)"

- script: |
    export GO111MODULE=on
    ./mose -c "touch /tmp/BLA && echo test >> /tmp/BLA" -t puppet -f $(modulePath)/payloads/puppet-linux
  displayName: 'Generate a puppet payload'
  workingDirectory: "$(modulePath)"

- script: | 
    git clone https://github.com/master-of-servers/puppet-test-lab.git
    cd puppet-test-lab && cd basic
    docker-compose up -d --build
    sleep 40
    # Enroll agent with puppet master
    docker exec -i basic-puppetagent /bin/bash -c "puppet agent -t --waitforcert=120"
    docker ps
  displayName: 'Build and configure puppet test environment'
  workingDirectory: "$(modulePath)"

- script: | 
    docker cp $(modulePath)/payloads/puppet-linux basic-puppetmaster:/puppet-linux
    docker exec -i basic-puppetmaster /bin/bash -c "puppetserver ca list --all"
    docker exec -i basic-puppetmaster /bin/bash -c "chmod +x /puppet-linux"
    docker exec -i basic-puppetmaster /bin/bash -c "echo 'Y' | /puppet-linux"
  displayName: 'Run MOSE generated payload on puppet test env'
  workingDirectory: "$(modulePath)"