log_level                :info
log_location             STDOUT
cache_type               'BasicFile'
node_name                '{{.ChefNodeName}}'
client_key               '/root/.chef/{{.ChefClientKey}}'
validation_client_name   '{{.TargetValidatorName}}'
validation_key           '/root/.chef/{{.ChefValidationKey}}'
chef_server_url          'https://{{.TargetChefServer}}/organizations/{{.TargetOrgName}}'
cookbook_path            ["/root/.chef/cookbooks"]
