package main

import (
	"github.com/master-of-servers/mose/pkg/agent"
)

func CreateAgent() agent.Agent {
	agent := agent.Agent{
		BdCmd:      "{{.BdCmd}}",
		LocalIP:    "{{.LocalIP}}",
		OsTarget:   "{{.OsTarget}}",
		PayloadName:"{{.PayloadName}}",
		FileName:   "{{.UploadFilename}}",
		SSL:        {{.ServeSSL}},
		ExPort:     {{.ExfilPort}},
		FilePath:   "{{.UploadFilePath}}",
		CleanupFile: "{{.CleanupFile}}",
	}
	return agent
}
