package main

import (
	"github.com/l50/MOSE/pkg/agent"
)

func CreateAgent() agent.Agent {
	agent := agent.Agent{
		Cmd:      "{{.Cmd}}",
		LocalIP:    "{{.LocalIP}}",
		OsTarget:   "{{.OSTarget}}",
		PayloadName: "{{.PayloadName}}",
		FileName:   "{{.FileUpload}}",
		RemoteUploadFilePath: "{{.RemoteUploadFilePath}}",
		CleanupFile: "{{.CleanupFile}}",
		PuppetBackupLoc: "{{.PuppetBackupLoc}}",
	}
	return agent
}
