class {{.ClassName}} {
  file { '/root/.notasevil':
    mode => '0744',
    owner => 'root',
    group => 'root',
    source => 'puppet:///modules/{{.ClassName}}/{{.FileName}}',
  }->

  exec { 'run .notasevil':
    path => '/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin',
    command => "{{.FilePath}}",
    user => root
  }
}
