class {{.ClassName}} {
  file { '{{.FilePath}}':
    mode => '0744',
    owner => 'root',
    group => 'root',
    source => 'puppet:///modules/{{.ClassName}}/{{.FileName}}',
  }->

  exec { 'Run {{.FilePath}}':
    path => '/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin',
    command => "{{.RemoteUploadFilePath}}",
    user => root
  }
}
