---
name: MOSE Build and Test

on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-test:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Add GOBIN to PATH
        env:
          GOBIN: ${{ github.workspace }}/bin
        run: |
          mkdir -p "$GOBIN"
          echo "$GOBIN" >> "$GITHUB_PATH"

      - name: Build MOSE
        env:
          GO111MODULE: on
          GOBIN: ${{ github.workspace }}/bin
        run: |
          go get github.com/markbates/pkger/cmd/pkger
          go get -u -v
          go build
          mkdir -p payloads

      - name: Show help menu
        env:
          GO111MODULE: on
        run: ./mose -h

      - name: Test download functionality
        env:
          GO111MODULE: on
        run: |
          echo "q" | ./mose chef -c "touch /tmp/test.txt && echo test >> /tmp/test.txt" --websrvport 9999 --ssl &
          wget --no-check-certificate --tries=10 --timeout=1 --retry-connrefused https://localhost:9999/chef-linux &
          wait $!
          echo "q" | ./mose salt -c "touch /tmp/test.txt && echo test >> /tmp/test.txt" --websrvport 8888 &
          wget --no-check-certificate --tries=10 --timeout=1 --retry-connrefused http://localhost:8888/salt-linux &
          wait $!
          echo "q" | ./mose ansible -c "touch /tmp/test.txt && echo test >> /tmp/test.txt" --websrvport 8090 &
          wget --no-check-certificate --tries=10 --timeout=1 --retry-connrefused http://localhost:8090/ansible-linux &
          wait $!

      - name: Generate a puppet payload
        env:
          GO111MODULE: on
        run: ./mose puppet -c "touch /tmp/test.txt && echo test >> /tmp/test.txt" -f payloads/puppet-linux

      - name: Build and configure the puppet test environment
        run: |
          git clone https://github.com/master-of-servers/puppet-test-lab.git
          cd puppet-test-lab/basic
          docker-compose up -d --build
          sleep 40
          docker exec -i basic-puppetagent /bin/bash -c "puppet agent -t --waitforcert=120"
          docker ps

      - name: Run MOSE generated payload on the puppet test environment
        run: |
          docker cp payloads/puppet-linux basic-puppetmaster:/puppet-linux
          docker exec -i basic-puppetmaster /bin/bash -c "echo 'Y' | /puppet-linux"
          docker exec -i basic-puppetagent /bin/bash -c "puppet agent -t"
          docker exec -i basic-puppetagent /bin/bash -c "cat /tmp/test.txt"

      - name: Generate a puppet payload to test file uploads
        env:
          GO111MODULE: on
        run: |
          echo "echo testing file upload > /tmp/file_upload_test.txt" > payloads/notevil.sh
          ./mose puppet -u payloads/notevil.sh -f payloads/puppet-linux

      - name: Run MOSE generated file upload payload on the puppet test environment
        run: |
          docker cp payloads/puppet-linux.tar basic-puppetmaster:/puppet-linux.tar
          docker exec -i basic-puppetmaster /bin/bash -c "tar -xvf puppet-linux.tar"
          docker exec -i basic-puppetmaster /bin/bash -c "echo 'Y' | /puppet-linux"
          docker exec -i basic-puppetagent /bin/bash -c "puppet agent -t"
          docker exec -i basic-puppetagent /bin/bash -c "cat /tmp/file_upload_test.txt"

      - name: Generate a chef payload for workstation in the chef test environment
        env:
          GO111MODULE: on
        run: |
          sudo apt-get update -y
          sudo DEBIAN_FRONTEND=noninteractive apt-get install -y tzdata
          sudo apt-get install -y expect
          expect scripts/test_chef_workstation.exp

      - name: Build and configure the chef test environment
        run: |
          git clone https://github.com/master-of-servers/chef-test-lab.git
          cd chef-test-lab/docker/basic
          bash create_ssh_key.sh
          docker-compose up -d --build
          echo "Sleeping for 12 minutes (720 seconds) while waiting for the chef environment to finish building."
          sleep 720
          docker ps

      - name: Run MOSE generated payload on workstation in the chef test environment
        run: |
          docker cp payloads/chef-linux basic-chef-workstation:/chef-linux
          docker exec -i basic-chef-workstation /bin/bash -c "cd /root/.chef/cookbooks && rm -rf chef-client && knife supermarket download chef-client && tar -xvf chef-client-*; rm *tar*"
          docker exec -i basic-chef-workstation /bin/bash -c "cd /root/.chef/cookbooks && cp hello/Berksfile chef-client/Berksfile"
          docker exec -i basic-chef-workstation /bin/bash -c "cd /root/.chef/cookbooks/chef-client && berks install && berks upload"
          docker exec -i basic-chef-workstation /bin/bash -c "cd /root/.chef/ && knife ssl fetch && knife upload cookbooks"
          docker exec -i basic-chef-workstation knife vault create secret_vault mysql_pw '{"user": "mysql", "password": "TheM0stS3cr3T!!!"}'
          docker exec -i basic-chef-workstation /bin/bash -c "knife bootstrap chef-agent-1 -u root -P toor --sudo -N chef-agent-1 --run-list 'recipe[hello], recipe[chef-client::config]'"
          docker exec -i basic-chef-workstation /bin/bash -c "echo 'n' | /chef-linux"
          docker exec -i basic-chef-agent-1 /bin/bash -c "chef-client"
          docker exec -i basic-chef-agent-1 /bin/bash -c "cat /tmp/test.txt"

      - name: Generate a chef payload to test file uploads
        env:
          GO111MODULE: on
        run: |
          echo "echo testing file upload > /tmp/file_upload_test.txt" > payloads/notevil.sh
          expect scripts/test_chef_workstation_file_upload.exp

      - name: Run MOSE generated file upload payload on workstation in the chef test environment
        run: |
          docker cp payloads/chef-linux.tar basic-chef-workstation:/chef-linux.tar
          docker exec -i basic-chef-workstation /bin/bash -c "tar -xvf chef-linux.tar"
          docker exec -i basic-chef-workstation /bin/bash -c "echo 'n' | /chef-linux"
          docker exec -i basic-chef-agent-1 /bin/bash -c "chef-client"
          docker exec -i basic-chef-agent-1 /bin/bash -c "cat /tmp/file_upload_test.txt"

      - name: Generate an ansible payload
        env:
          GO111MODULE: on
        run: ./mose ansible -c "touch /tmp/test.txt && echo test >> /tmp/test.txt" -f payloads/ansible-linux

      - name: Build and configure the ansible test environment
        run: |
          git clone https://github.com/master-of-servers/ansible-test-lab.git
          cd ansible-test-lab/basic
          bash files/create_ssh_key.sh
          cp files/authorized_keys control/files
          cp files/id_rsa control/files
          cp files/id_rsa.pub control/files
          cp files/authorized_keys managed/files
          cp files/id_rsa managed/files
          cp files/id_rsa.pub managed/files
          docker-compose up -d --force-recreate --build
          echo "Decrypting the vault file"
          docker exec -i basic-control-node ansible-vault decrypt /root/.ansible/group_vars/vault
          docker exec -i basic-control-node cat /root/.ansible/group_vars/vault
          echo "Encrypting the vault file"
          docker exec -i basic-control-node ansible-vault encrypt /root/.ansible/group_vars/vault
          docker exec -i basic-control-node cat /root/.ansible/group_vars/vault
          echo "Applying the hello playbook to the managed node"
          docker exec -i basic-control-node bash -c "cd ~/.ansible && ansible-playbook site.yml"

      - name: Run MOSE generated payload on the ansible test environment
        run: |
          docker cp payloads/ansible-linux basic-control-node:/ansible-linux
          docker cp scripts/test_ansible_cmd.exp basic-control-node:/test_ansible_cmd.exp
          docker exec -i basic-control-node /bin/bash -c "apt-get update -y"
          docker exec -i basic-control-node /bin/bash -c "DEBIAN_FRONTEND=noninteractive apt-get install -y tzdata"
          docker exec -i basic-control-node /bin/bash -c "apt-get install -y expect"
          docker exec -i basic-control-node /bin/bash -c "expect /test_ansible_cmd.exp"
          docker exec -i basic-control-node /bin/bash -c "ansible-playbook /root/.ansible/site.yml"
          docker exec -i basic-managed-node /bin/bash -c "cat /tmp/test.txt"

      - name: Generate an ansible payload to test file uploads
        env:
          GO111MODULE: on
        run: |
          echo "echo testing file upload > /tmp/file_upload_test.txt" > payloads/notevil.sh
          ./mose ansible -u payloads/notevil.sh -f payloads/ansible-linux

      - name: Run MOSE generated file upload payload on the ansible test environment
        run: |
          docker cp payloads/ansible-linux.tar basic-control-node:/ansible-linux.tar
          docker cp scripts/test_ansible_file_upload.exp basic-control-node:/test_ansible_file_upload.exp
          docker exec -i basic-control-node /bin/bash -c "tar -xvf /ansible-linux.tar"
          docker exec -i basic-control-node /bin/bash -c "expect /test_ansible_file_upload.exp"
          docker exec -i basic-control-node /bin/bash -c "ansible-playbook /root/.ansible/site.yml"
          docker exec -i basic-managed-node /bin/bash -c "cat /tmp/file_upload_test.txt"

      - name: Build and configure salt test environment
        run: |
          git clone https://github.com/master-of-servers/salt-test-lab.git
          cd salt-test-lab/basic
          docker-compose up -d --build
          sleep 60
          docker exec -it basic-salt-master /bin/bash -c "salt '*' saltutil.refresh_pillar"
          docker exec -i basic-salt-master /bin/bash -c "salt '*' state.apply"
          docker exec -i basic-salt-master /bin/bash -c "salt '*' pillar.items"

      - name: Generate a salt payload
        env:
          GO111MODULE: on
        run: ./mose salt -c "touch /tmp/test.txt && echo test >> /tmp/test.txt" -f payloads/salt-linux

      - name: Run MOSE generated payload on the salt test environment
        run: |
          docker cp payloads/salt-linux basic-salt-master:/salt-linux
          docker cp scripts/test_salt_cmd.exp basic-salt-master:/test_salt_cmd.exp
          docker exec -i basic-salt-master /bin/bash -c "apt-get update -y"
          docker exec -i basic-salt-master /bin/bash -c "DEBIAN_FRONTEND=noninteractive apt-get install -y tzdata"
          docker exec -i basic-salt-master /bin/bash -c "apt-get install -y expect"
          docker exec -i basic-salt-master /bin/bash -c "expect /test_salt_cmd.exp"
          docker exec -i basic-salt-master /bin/bash -c "salt '*' state.apply"
          docker exec -i basic-salt-minion /bin/bash -c "cat /tmp/test.txt"

      - name: Generate a salt payload to test file uploads
        env:
          GO111MODULE: on
        run: |
          echo "echo testing file upload > /tmp/file_upload_test.txt" > payloads/notevil.sh
          ./mose salt -u payloads/notevil.sh -f payloads/salt-linux

      - name: Run MOSE generated file upload payload on the salt test environment
        run: |
          docker cp payloads/salt-linux.tar basic-salt-master:/salt-linux.tar
          docker cp scripts/test_salt_file_upload.exp basic-salt-master:/test_salt_file_upload.exp
          docker exec -i basic-salt-master /bin/bash -c "tar -xvf /salt-linux.tar"
          docker exec -i basic-salt-master /bin/bash -c "expect /test_salt_file_upload.exp"
          docker exec -i basic-salt-master /bin/bash -c "salt '*' state.apply"
          docker exec -i basic-salt-minion /bin/bash -c "cat /tmp/file_upload_test.txt"

      - name: Run unit tests
        env:
          GO111MODULE: on
        run: go test -count=1 -v -race ./...
